h1{
    text-align: center;
}

.container{

    height: 250px;
    width: 500px;
    margin-left: 450px;
    border-style: outset;
    
}

.containernums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
    width: 500px;
    grid-gap: 5px;
    border: 5px solid black;
    margin: auto;
    margin-top: 30px;
    background:black;
}

#outputcont{

    font-size: 60px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 180px;
    margin-top: 85px;
    
}

.btn {
    font-size: 25px;
    font-weight: 800;
}

.operator{
    color: red;
}

#equals{
    grid-column: 4/4;
    grid-row: 2/6;
    font-size: 40px;
}