.container{

    height: 300px;
    width: 500px;
    margin-left: 450px;
    border-style: outset;
    
}

.containernums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
    width: 500px;
    grid-gap: 1px;
    border: 10px solid black;
    margin: auto;
    margin-top: 30px;
    background: black;
}

#outputcont{

    font-size: 60px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 180px;
    margin-top: 100px;
    
}

.btn {
    font-size: 25px;
    font-weight: 800;
}

.operator{
    color: red;
}

.equals{
    grid-column: 4/4;
    grid-row: 3/7;
    font-size: 40px;
}