h1{
    text-align: center;
}

#result{
    text-align: center;
}

.container{
    height: 250px;
    width: 500px;
    margin-left: 450px;
    border-style: outset;
    border: 5px solid black;
    text-align: center;
}

.containernums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
    width: 500px;
    grid-gap: 5px;
    border: 5px solid black;
    margin-left: 450px;
    margin-top: 0px;
    background:black;
    text-align: center;
}

#outputcont{
    font-size: 60px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}

.btn {
    font-size: 25px;
    font-weight: 800;
}

.operator{
    color: red;
}

#equals{
    grid-column: 4/4;
    grid-row: 2/6;
    font-size: 40px;
}